*{
    margin: 0; 
    padding: 0;
}

html,body {
    background: black;
    position: relative;
    height: 100%;
    width: 100%;
}
div{
    display: block;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


.my-stuffs{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.my-stuffs .center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:600px;
    margin: 0 auto;
}

.my-stuffs .center .my-name{
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    padding: 40px;
    letter-spacing: 16px;
    text-transform: uppercase;
}
.my-stuffs ul li{
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding: 10px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.my-stuffs ul li a{
    color: #fff;
}

.bottom-icp {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.bottom-icp a{
    text-align: center;
    color: #ccc;
}
